<%- include('./partials/header') %>
    <% if(locals.validationErrors !== undefined) { %>
        <% validationErrors.forEach(err => {  %>
            <p style="color: red;"><%= err.msg %></p>
        <% }) %>
    <% } %>

    <% if(locals.error !== undefined) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>

    <form action="#" method="post">
        <h3>Fill in your login details</h3>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <br>
    <h4>Not yet signed up? <a href="/sign-up">Sign up</a>.</h4>

<%- include('./partials/footer') %>