<%- include('./partials/header') %>
    <% if(locals.validationErrors !== undefined) { %>
        <% validationErrors.forEach(err => {  %>
            <p style="color: red;"><%= err.msg %></p>
        <% }) %>
    <% } %>
    
    <form action="#" method="post">
        <h3>Fill in the sign up form</h3>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Sign up</button>
    </form>

<%- include('./partials/footer') %>