<%- include('./partials/header') %>

    <form action="#" method="post">
        <h3>Fill in the sign up form</h3>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Sign up</button>
    </form>

<%- include('./partials/footer') %>